
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
<script src="~/signalr/hubs"></script>

<style>

    table, tr, td, th {
        border: 1px solid #000;
        text-align: center;
    }

    td {
        padding: 5px;
    }

    th {
        padding: 10px;
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .red {
        background-color: red;
    }

    .green {
        background-color: green;
    }

    .white {
        background-color: white;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sabah Finans</title>

    <link rel="stylesheet" href="~/c/c/main.css">
    <link rel="stylesheet" href="~/c/c/header.css">
    <link rel="stylesheet" href="~/c/c/bootstrap-grid.css">
    <link href="~/c/c/datatable.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/c/c/breadcrumb.css">





</head>
<body>

    <div class="row mb-4" style="width:70%">
        <div class="col-12">
            <div class="module-title-area mb-2">
                <span class="module-title-large">BIST Endeksleri</span>
                
            </div>
            <div class="datatable-container none-datatable">
                <table class="datatable display responsive lazyload">
                    <thead>
                        <tr>
                            <th>Fiyat</th>
                            <th>Oran</th>
                            <th>Zaman</th>
                            <th>Saat</th>
                        </tr>
                    </thead>
                    <tbody id="dataContainer">
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    


    <link rel="stylesheet" href="~/c/c/swiper-bundle.css">
    <link rel="stylesheet" href="~/c/c/chart.css">

    <script src="~/c/j/ls.unveilhooks.min.js"></script>
    <script src="~/c/j/lazysizes.min.js"></script>
    <script src="~/c/j/main.js"></script>

    <script src="~/c/j/swiper-bundle.min.js"></script>

    <script src="~/c/j/datatables.min.js"></script>
    <script src="~/c/j/dataTables.responsive.min.js"></script>

    <script src="~/c/j/chart.min.js"></script>
</body>



<script>
    var connection = $.hubConnection();
    var borsaHubProxy = connection.createHubProxy('borsaHub');
    var eskiVeriler = [];

    borsaHubProxy.on('updateBorsaVerileri', function (borsaVerileri) {
        var dataContainer = $("#dataContainer");
        var yeniVeriler = [];

       
        function setBackground(row, şuankiFiyat, öncekiFiyat) {
            if (şuankiFiyat > öncekiFiyat) {
                row.classList.add('green');
            } else if (şuankiFiyat < öncekiFiyat) {
                row.classList.add('red');
            }
            setTimeout(function () {
                if (row.classList.contains('green')) {
                    row.classList.remove('green');
                    row.classList.add("white");
                }
                if (row.classList.contains('red')) {
                    row.classList.remove('red');
                    row.classList.add("white")
                }
            }, 3000);
        }


        for (var i = 1; i < borsaVerileri.length - 1; i++) {
            var datarr = borsaVerileri[i].split("|");
            yeniVeriler.push(datarr);

            var eskiVeriIndex = eskiVeriler.findIndex(function (item) {
                return item[0] === datarr[0];
            });

            if (eskiVeriIndex === -1) {
                var TRElement = $("<tr id='id_" + datarr[0] + "'>");
                for (var j = 0; j < 4; j++) {
                    if (datarr[j] !== "") {
                        var TDElement = $("<td></td>");
                        var PElement = $("<p>" + datarr[j] + "</p>");
                        TDElement.append(PElement);

                        TRElement.append(TDElement);
                        dataContainer.append(TRElement);
                    }
                }
                dataContainer.append("</tr>");
            } else if (!eskiVeriler[eskiVeriIndex].every(function (item, index) {
                return item === datarr[index];
            })) {
                var row = document.getElementById("id_" + datarr[0]);
                row.innerHTML = "";

                for (var j = 0; j < 4; j++) {
                    if (datarr[j] !== "") {
                        var tdTag = document.createElement("td");
                        var ptag = document.createElement("p");
                        var text = document.createTextNode(datarr[j]);
                        ptag.appendChild(text);
                        tdTag.appendChild(ptag);
                        row.appendChild(tdTag);

                        if (j === 1) {
                            var öncekiFiyat = parseFloat(eskiVeriler[eskiVeriIndex][j]);
                            var şuankiFiyat = parseFloat(datarr[j]);
                            setBackground(row, şuankiFiyat, öncekiFiyat);
                        }
                    }
                }
            }
        }
        eskiVeriler = yeniVeriler;
    });

    connection.start().then(function () {
        borsaHubProxy.invoke('getBorsaVerileri');
    });
</script>

